@{
    ViewBag.Title = "BrisiStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container text-center mt-5">
    <h2>Podaci uspješno izbrisani</h2>
    <a href="@Url.Action("Popis", "Zupa")" class="btn btn-primary mt-3">Povratak na popis Zupa</a>
</div>
